In [32]:
from bs4 import BeautifulSoup as bs
import requests as r
import sqlite3 as sq
import pandas as pd
import time
import random

In [33]:
def loadsite(url):
    site = r.get(url)
    if site.status_code == 200:
        soup = bs(site.text, 'lxml')
        print(f'Status code: {site.status_code}')
        return soup

In [34]:
def fdiv(div):
    count = 0
    divv = soup.find('div', class_=f'{div}')
    return divv

In [67]:
df = pd.DataFrame()

### Start writing your code below .

In [36]:
soup = loadsite('http://www.pastic.gov.pk/scientists.aspx?par=onlin&cmenu=sd&page=1')

Status code: 200

In [37]:
data = fdiv('pastic_text')
table = data.find('table')
rows = table.find_all('tr')

In [68]:
for row in rows:
    cols = row.find_all('td')
    cols = [data.text.strip() for data in cols]
    df = df.append(pd.Series(cols), ignore_index=True)

C:\Users\saqib\AppData\Local\Temp\ipykernel_9428\4237686723.py:4: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df = df.append(pd.Series(cols), ignore_index=True)
C:\Users\saqib\AppData\Local\Temp\ipykernel_9428\4237686723.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.Series(cols), ignore_index=True)
C:\Users\saqib\AppData\Local\Temp\ipykernel_9428\4237686723.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.Series(cols), ignore_index=True)

In [70]:
df.drop(columns=[0], inplace=True)

In [118]:
df.columns = ['Name', 'Discipline', 'Affiliation', 'Qualifition']

In [77]:
df.drop(df.index[0], inplace=True)

In [119]:
df

,Name,Discipline,Affiliation,Qualifition
1,Abdur Rehman Mashal,Information Technology,"Abasyn University, Peshawar",MS
2,Adnan Ali,Engineering Sciences,"Abasyn University, Peshawar",MS
3,Adnan Gul,Engineering Sciences,"Abasyn University, Peshawar",MS
4,Dr. Affaq Qamar,Engineering Sciences,"Abasyn University, Peshawar",Ph.D.
5,Dr. Ali Asghar Ghani,Health Sciences,"Abasyn University, Peshawar",Ph.D
...,...,...,...,...
9223,Uzma Rehman,Social Sciences,"Women universtiy Swabi (WUS), Swabi",Mphil
9224,Dr. Huma Shareef,Chemical Sciences,"Ziauddin University, Karachi",
9225,Dr. Munaf Rashid,Engineering Sciences,"Ziauddin University, Karachi",Ph.D.
9226,Dr. Sarmad Shams,Biological Sciences,"Ziauddin University, Karachi",Ph.D.
9227,Dr. Shehla Ahmed,Health Sciences,"Ziauddin University, Karachi",MBBS

In [86]:
df.describe(include='all')

,Name,Discipline,Affiliaion,Qualifition
count,9227,9227,9227,9227
unique,8141,13,410,72
top,Dr. Muhammad Imran,Biological Sciences,"University of the Punjab, Lahore",Ph.D.
freq,17,1913,443,3757

In [116]:
df['Qualifition'].mode()

0    Ph.D.
Name: Qualifition, dtype: object

In [140]:
df['Affiliation'].mode()

0    University of the Punjab, Lahore
Name: Affiliation, dtype: object

In [141]:
df.to_csv('Scientists Directory.csv', index=False)